@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .counter {
    @apply p-4 bg-primary-color rounded-2xl text-xl text-stone-300 cursor-pointer select-none transition-all 
    hover:text-black hover:bg-white;
  }
  .countNumber {
    @apply flex-1 py-4 bg-primary-color text-xl text-center text-stone-300 rounded-3xl transition-all;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
